<h1>CGAT Project</h1>
<hr>
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/monthly">Monthly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sort-options">Sort Options</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>
